
@use 'abstracts/' as *;

$elements: 13;
$elements-displayed: 4;
$animation-duration: calc($elements * 4s);

.carousel {
    background-color: $black;
    width: 100%;
    height: 52vh;
    overflow: hidden;
    padding: auto 0;
    position: relative;

    

    &__list {
        list-style: none;
        height: 100%;
        display: flex;
        animation: scrolling $animation-duration linear infinite;


        &__item {
            width: 40rem;
            flex-shrink: 0;
            white-space: nowrap;

            img {
                width: 40rem;
            }
        }
    }
}


@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1*30vw*$elements);
    }
}


.carousel2 {
    position: relative;
    height: 35rem;
    width: 60rem;
    margin: 0 auto;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &__container {
        background-color: red;
        height: 100%;
        position: relative;
        border-radius: 3rem;
        overflow: hidden;


        &__track {
            list-style: none;
            position: relative;
            height: 100%;

            transition: all .7s ease-in-out;

            &__slide {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }
        }
        
    }
    

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: 0;
        cursor: pointer;

        .icon {
            font-size: 3rem;
            color: $black;
        }
    }

    &__button--left {
        left: 1rem;
        z-index: 1;
    }

    &__button--right {
        right: 1rem;
        z-index: 1;
    }

    &__nav {
        display: flex;
        justify-content: center;
        padding: .8rem 0;
    }

    &__indicator {
        border: 0;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        margin: 0 .8rem;
        background-color: rgba($color: $white, $alpha: .3);
        cursor: pointer;
    }

    &__indicator.current-slide {
        background-color: rgba($color: $white, $alpha: .80);
    }

    &__indicator.current-slide3 {
        background-color: rgba($color: $white, $alpha: .80);
    }

    .is-hidden, .is-hidden3 {
        display: none;
    }
}
