@use 'abstracts/' as *;

@media (min-width:1141px) {
    .home {
        .title {
            line-height: 4.5rem;
        }
        .title2 {
            line-height: 2.2rem;
        }
    }


}

@media (max-width: 699px) {
    .nav-bar {

        .hamburger {
            display: inline-block;
            font-size: $regular2;
            cursor: pointer;
        }

        .hide {
            display: none;
        }

        .active {
            display: block;
        }

        .nav-links {
            position: absolute;
            background-color: $black;
            top: 60px;
            left: 0;
            width: 100%;
            height: 100px;
            transition: all 0.2s;
            text-align: center;

            a {
                display: block;
                width: fit-content;
            }
        }

    }
}



@media (max-width: 1140px) {
    .home {
        .text-div {
            font-size: 12px;

            .title {
                line-height: 3.5rem;
            }
            .title2 {
                line-height: 1.8rem;

            }

        }
    }

    .footer {
        .text {
            &__title {
                line-height: 1em;
                margin-bottom: .5em;
            }
        }
    }
}

@media (max-width: 1063px) {
    .shop {
        .title-div {
            font-size: 12px;
        }
    }
}

@media (max-width: 1025px) {
    .home {
        .text-div {
            font-size: 11px;
        }
    }

    .footer {
        font-size: 15px;
    }


}

@media (max-width: 960px) {

    .home {

        .image-div {
            img {
                top: 35%;
            }
        }
    }
}


@media (max-width: 909px) {

    html, body {
        font-size: 14px;
    }
    .home {
        .text-div {
            font-size: 14px;
            width: 100%;
            text-align: center;
            padding-left: 0;

            .title {
                margin-bottom: 1rem;
                line-height: 4rem;
            }
            .title2 {
                width: 75%;
                margin-left: auto;
                margin-right: auto;
            }

            .buttons {
                justify-content: center;
            }
        }

        .image-div {
            display: none;
        }
    }

    .footer {
        font-size: 11px;
    }
}

@media (max-width: 835px) {
    .shop {
        .title-div {
            font-size: 16px;
            text-align: center;

            .title {
                line-height: .8em;
            }

            .title2 {
                margin-top: 1em;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                line-height: 1em;
            }
        }

        .grid-container {
            font-size: 12px;
            
        }
    }

    .footer {
        font-size: 10px;
        padding: 5em 2em;


        .form-div {
            form {
                width: 90%;
                .submit {
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 636px) {
    .shop {

        .title-div {
            font-size: 12px;
        }
        .grid-container {
            font-size: 11px;
        }
    }
}

@media (max-width: 560px) {
    html, body {
        font-size: 12px;
    }

    .home {
        .text-div {
            font-size: 12px;
        }
    }

    .shop {
        padding: 8em 2em 20em;

        .title-div {
            font-size: 13px;
        }
        .grid-container {
            font-size: 9px;
        }
    }
}


@media (max-width: 495px) {
    html, body {
        font-size: 11px;
    }

    .home {
        .text-div {
            font-size: 11px;

            .title {
                line-height: 3.5rem;

            }

            .title2 {
                width: 90%;
            }
        }
    }

    .shop {

        .title-div {
            font-size: 11px;
        }

        .grid-container {
            font-size: 8px;
        }
    }
}

@media (max-width: 426px) {
    html, body {
        font-size: 10px;
    }

    .home {
        .text-div {
            font-size: 10px;

            .title {
                line-height: 3rem;

            }

            .title2 {
                width: 90%;
            }
        }
    }

    .shop {
        padding: 8em 1em 20em;

        .title-div{
            font-size: 9px;
        }
        .grid-container{
            font-size: 7.5px;

            .details-button {
                width: 50%;
            }
        }
    }

    .footer {
        font-size: 8px;

        .form-div {
            form {
                .submit {
                    font-size: calc($regular - .3em);
                    border: 1px solid $white;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    html, body {
        font-size: 8px;
    }

    .nav-bar {
        padding: 0 20px;

    }

    .home {
        .text-div {
            font-size: 8px;

            .title {
                line-height: 2.5rem;

            }

            .title2 {
                width: 90%;
                line-height: 1.3rem;
            }
        }
    }
}