@use 'abstracts/' as *;

@media (min-width:1141px) {
    .home {
        .title {
            line-height: 4.5rem;
        }
        .title2 {
            line-height: 2.2rem;
        }
    }
}

@media (max-width: 699px) {
    .nav-bar {

        .hamburger {
            display: inline-block;
            font-size: $regular2;
            cursor: pointer;
        }

        .hide {
            display: none;
        }

        .active {
            display: block;
        }

        .nav-links {
            position: absolute;
            background-color: $black;
            top: 60px;
            left: 0;
            width: 100%;
            height: 100px;
            transition: all 0.2s;
            text-align: center;

            a {
                display: block;
                width: fit-content;
            }
        }

    }
}

@media (max-width: 1140px) {
    .home {
        .text-div {
            font-size: 12px;

            .title {
                line-height: 3.5rem;
            }
            .title2 {
                line-height: 1.8rem;

            }

        }
    }
}

@media (max-width: 960px) {

    .home {

        .text-div {
            font-size: 12px;
        }

        .image-div {
            img {
                top: 30%;
            }
        }
    }
}