$regular: 1.1rem;
$regular2: 1.5rem;
$heading: 2.3rem;
$big-heading: 3.5rem;
$title: 7.7rem;
$mini-title: 5rem;
$button-font: 1.8rem;


$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;